
menu "SPI PNP Plugin"

config SPI_PNP_PLUGIN
        tristate "SPI PNP plugin support for OMAP specific SPI controllers"
        depends on SPI && SPI_OMAP24XX && HARMAN_DRIVERS
        help
                Special PNP plugin for omap specific spi controllers

endmenu
